/* Icon Block  */
.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.icon-text img {
  object-fit: contain;
  margin-bottom: 20px;
}

.icon-text span {
  font-size: 14px;
}

/* Button  */
a.button {
  font-size: 20px;
  font-weight: 600;
}

/* Featured Variants */
.featured-variants {
  display: flex;
  justify-content: center;
  gap: rem-calc(10px);
}

/* Desktop screens */
@media screen and (min-width: 768px) {
  .icon-text--left {
    flex-direction: row;
    align-items: center;
  }
  .icon-text.icon-text--left img {
    object-fit: contain;
    margin-right: 10px;
    margin-bottom: 0;
  }
}

/* Mobile Screens  */
@media screen and (max-width: 767px) {
  /* Hero Section  */
  #shopify-section-template--18436640178346__section_xk9tkW
    .group-block:first-of-type {
    padding-top: 100%;
  }
}
